<a href="https://colab.research.google.com/github/ts-zhigmytov/Coursera_Capstone/blob/main/Segmenting_Clustering_Toronto_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem #1

We only use `requests` and `pandas` libraries, not `bs4`, for clean and explainable notebook.

In [46]:
# imports
import requests
import pandas as pd

In [53]:
# read data from URL 
wiki_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki_url)

# convert html into pandas dataframe, excluding 'Not assigned' boroughs
wiki_raw = pd.read_html(wiki_page.content, header = 0)[0]
df_temp = wiki_raw[wiki_raw.Borough != 'Not assigned']
df_temp.reset_index(inplace = True)

# rename column name 'Postal Code' into 'PostalCode' as mentioned in assignment
# and drop 'index' column
df = df_temp.rename(columns = {'Postal Code': 'PostalCode'}, inplace=False).drop(columns=['index'])
df

    PostalCode  ...                                      Neighbourhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...  Business reply mail Processing Centre, South C...
101        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Seems like Wikipedia table already had been grouped by boroughs/codes:

In [60]:
df.groupby(['PostalCode']).first()

                Borough                                      Neighbourhood
PostalCode
M1B         Scarborough                                     Malvern, Rouge
M1C         Scarborough             Rouge Hill, Port Union, Highland Creek
M1E         Scarborough                  Guildwood, Morningside, West Hill
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae
...                 ...                                                ...
M9N                York                                             Weston
M9P           Etobicoke                                          Westmount
M9R           Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V           Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W           Etobicoke                Northwest, West Humber - Clairville

[103 rows x 2 columns]

In [62]:
len(df['PostalCode'].unique())

103

In [63]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

df.shape

(103, 3)